.container{
    width: 100%;
    max-width: 900px;
    margin: 100px auto;
    background-color: rgb(241, 241, 241);
}
.container__header {
    font-size: 30px;
    background-color: rgb(241, 241, 241);
    font-weight: 700;
    padding: 15px 15px 15px 0px;
}