.html {
    box-sizing: border-box;
}
    
*, ::after ::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(241, 241, 241);
    font-family: 'Open Sans', sans-serif;
    margin: 12px;
}