.section {
    background-color: #fff;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 10px;
}
.section__header {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(241, 237, 237);
    padding: 20px;
}
.section__subHeader {
    margin: 0px;;
    
}
.section__subHeader--second {
    margin: 12px;
    padding: 10px;
    border-bottom: 2px solid rgb(241, 237, 237);
    
    
}

.section__form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap:20px;
    padding: 20px;
}
@media (max-width: 757px) {
    .section__form {
        grid-template-columns: 1fr;
    }
}

   
.form__input {
    border: 2px solid rgb(240, 237, 237); 
    max-width: 700px; 
    padding: 10px;
}
@media (max-width: 767px) {
    .form__input {
        max-width: 500px;
    }
}
.form__button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    border: none; 
    padding: 10px; 
    cursor: pointer;
}
.form__button:hover {
    background-color: hsl(180, 100%, 30%);
    transition: 1s;
    transform: scale(1.2);
}
.form__button:active {
    background-color: hsl(180, 100%, 40%);
    
}